.sidebar{
    height: 100%; 
    width: 15%; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: black;
}

.filter{
    padding-top:10%;
    padding-left:5%;
    color:white;
}
.filterInput{
    border-radius: 15px;
    height: 25px;
    width: 85%;
    border: 1px solid #cccccc;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    padding:3px;
    padding-left: 10px;
}
*:focus {
    outline: none;
}

#logo {
    height:50px;
    padding-left: 20px;
}